<html>

<head>
	<title>Edmur Cardoso - Developer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="My personal website">
	<meta name="keyword"
		content="edmur, cardoso, programador, developer, dev, back end, back-end, php, java, html, css, javascript, pagseguro, uol, boacompra, microsoft, google, facebook, brasil">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
		integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/main.css">
	<link rel="stylesheet" href="assets/css/loaders.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css">
	<link rel="shortcut icon" href="favicon.ico" />
	<script data-ad-client="ca-pub-3881873488043490" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body id="background" class="edmur">

	<div beth-hide="isCookieBannerClosed" class="banner-cookies">
		{{ general.cookiesWarn }}
		<button beth-click="closeCookieBanner()" class="close-cookies">
			{{ general.agreeButton }}
		</button>
	</div>

	<div id="preloader" class="preloader dark">
		<div class="loader">
			<div class="ball-scale-multiple">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>

	<div class="flags text-center-sm">
		<img beth-each="languages => $lang" src="assets/images/flags/{$lang.flag}"
			beth-class="currentLang === '{$lang.id}' ? 'selected': ''" beth-click="translate('{$lang.id}')"
			alt="{$lang.name}">
	</div>
	<div class="wrapper">

		<!-- My Profile-->
		<div class="contentBox userHero">
			<div class="avatar" style="background-image:url('assets/images/edmur.jpg')"></div>
			<div class="userDetails">
				<h1>
					{{ definitions.name }},
					{{ definitions.age }}
				</h1>
				<h2>
					{{ definitions.job }}
				</h2>
			</div>
			<ins class="adsbygoogle"
			     style="display:block; text-align:center;"
			     data-ad-layout="in-article"
			     data-ad-format="fluid"
			     data-ad-client="ca-pub-3881873488043490"
			     data-ad-slot="1600875251"></ins>
			<script>
			     (adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>
		<!-- // -->

		<!-- Page Content -->
		<ul class="contentBox profileList">
			<li beth-each="squares => $square">
				<a href="{$square.link}" class="link_overlay" target="_blank"></a>
				<div class="social-icon" id="{$square.color}">
					<i class="{$square.icon}" aria-hidden="true"></i>
				</div>
				<div class="inner-content">
					<h4>{ $square.title }</h4>
					<p>{ $square.text }</p>
				</div>
			</li>
		</ul>

	</div>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143300166-1"></script>
	<script src="assets/js/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
		integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
		integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
		crossorigin="anonymous"></script>
	<script src="assets/js/beth.min.js"></script>
	<script src="assets/js/cookies.js"></script>
	<script src="assets/js/lang.js"></script>
	<script src="assets/js/index.js"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', 'UA-143300166-1');
	</script>
</body>

</html>
